---
// Component Imports
import MdRenderer from '../components/MdRenderer';
import NewEditor from '../components/NewEditor'
import {Content as PromoBanner} from '../content/docs.mdx';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap" rel="stylesheet">
		<title>TNG Hooks</title>
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
	
			.cm-line {
				font-family: 'JetBrains Mono', monospace;
			}
			.cm-editor .cm-content { 
			font-family: 'JetBrains Mono', monospace;
		
		}
		</style>
	</head>
	<body>
		<main>
			<PromoBanner />
		</main>
	</body>
</html>
