---
// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;
import '../styles/global.css';

const pathname = new URL(Astro.request.url).pathname;

const API_PAGES = [
  {
    label: 'TNG(..)',
    link: '/api/tng',
    isActive: function () {
      return this.link === pathname ? 'active' : '';
    },
  },
  {
    label: 'useState(..)',
    link: '/api/usestate',
    isActive: function () {
      return this.link === pathname ? 'active' : '';
    },
  },
  {
    label: 'useReducer(..)',
    link: '/api/usereducer',
    isActive: function () {
      return this.link === pathname ? 'active' : '';
    },
  },
  {
    label: 'useEffect(..)',
    link: '/api/useeffect',
    isActive: function () {
      return this.link === pathname ? 'active' : '';
    },
  },
  {
    label: 'useMemo(..)',
    link: '/api/usememo',
    isActive: function () {
      return this.link === pathname ? 'active' : '';
    },
  },
  {
    label: 'useCallback(..)',
    link: '/api/usecallback',
    isActive: function () {
      return this.link === pathname ? 'active' : '';
    },
  },
  {
    label: 'useRef(..)',
    link: '/api/useref',
    isActive: function () {
      return this.link === pathname ? 'active' : '';
    },
  },
];

console.log(API_PAGES[0].isActive());
---

<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{frontmatter.title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="main-container">
      <aside class="sidebar-container">
        <a href="/intro" class="sidebar-link">Introduction</a>
        <p>API</p>
        {
          API_PAGES.map((data) => (
            <a href={data.link} class={`sidebar-link ${data.isActive()}`}>
              <code> {data.label}</code>
            </a>
          ))
        }
      </aside>
      <div class="main-content-container"><slot /></div>
    </main>
  </body>
</html>
